//@import "foundation/scss/normalize.scss";
// @font-face {
//   font-family: 'CraftyGirls';
//   font-style: normal;
//   font-weight: 400;
//   src: url(fonts/CraftyGirls.ttf) format('truetype');
// }
// $body-font-family: CraftyGirls, cursive;
// $header-font-family: CraftyGirls, cursive;
$base-font-size: 24px;
$em-base: $base-font-size;
$header-text-rendering: geometricPrecision;

@import "foundation/scss/foundation.scss";


.myTabs {
    padding-bottom: 0px;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
    box-shadow: 0 6px 6px -6px #8A8A8A;

    .myTab {
        display: inline-block;
        position: relative;

        a {
            position: absolute;
            top: 0; bottom: 0; right: 0; left: 0; /*fill parent*/
        }
        svg {
            width: 100%;
            height: 100%;

            text {
                text-transform: capitalize;
            }
        }
    }

    .myTab:after {
        padding-top: 33%; /*1:2 ratio*/
        display: block;
        content: '';
    }

    // a {
    //     width: 100%;
    //     display: inline-block;
    //     text-align: center;
    //     font-size: 1.25em;
    //     font-weight: 700;
    //     color: #222;
    //     margin-top: 0.2em;
    //     margin-bottom: 0.3em;
    // }
    .active {
        border-bottom: 5px solid #FAB97E;
    }
}
div.switch {
    max-width: 5.5em;
    margin-bottom: 0px;
}
div.switchLine {
    line-height: 22px;
}
div.row.space {
    margin-top: 5px;
}

.wrapper {
    width: 100%; /*whatever width you want*/
    max-width: 800px;
    display: inline-block;
    position: relative;

    .egg {
        position: absolute;
        top: 0; bottom: 0; right: 0; left: 0; /*fill parent*/
    }
    svg {
        width: 100%;
        height: 100%;
    }
}

.wrapper:after {
    padding-top: 100%;
    display: block;
    content: '';
}

.graveyard {
    height: 163.571px;
    .tombs {
        height: 163.571px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;    
    }
    .tomb {

    }
}