@import "foundation/scss/normalize.scss";
@font-face {
  font-family: 'CraftyGirls';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/CraftyGirls.ttf) format('truetype');
}
$body-font-family: CraftyGirls, cursive;
$header-font-family: CraftyGirls, cursive;

@import "foundation/scss/foundation.scss";

.myTabs {
    padding-bottom: 0px;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
    box-shadow: 0 6px 6px -6px #8A8A8A;
    a {
        width: 100%;
        display: inline-block;
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        color: #222;
        margin-top: 0.2em;
        margin-bottom: 0.3em;
    }
    .active {
        border-bottom: 5px solid orange;
    }
}
div.switch {
    max-width: 5.5em;
    margin-bottom: 0px;
}
div.switchLine {
    line-height: 22px;
}
div.row.space {
    margin-top: 5px;
}