@font-face {
  font-family: 'Crafty Girls';
  font-style: normal;
  font-weight: 400;
  src: local('Crafty Girls'), local('CraftyGirls'), url(fonts/CraftyGirls.ttf);
}
$body-font-family: 'Crafty Girls', cursive;
$header-font-family: 'Crafty Girls', cursive;

@import "foundation/scss/foundation.scss";
.myTabs {
    padding-bottom: 0px;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
    box-shadow: 0 6px 6px -6px #8A8A8A;
    a {
        width: 100%;
        display: inline-block;
        text-align: center;
    }
    .active {
        border-bottom: 5px solid orange;
    }
}
div.switch {
    max-width: 5.5em;
}