<div class="row">
	<div class="panel">
		<p>Original idea by <b>Thea&nbsp;Bradley</b> and <b>Caitlin&nbsp;Wilson</b>.</p>
		<p>App created by <b>Didier&nbsp;Colens</b> and <b>Wout&nbsp;Mertens</b>.</p>
		<p>Original graphics by <b>Florence&nbsp;Matuszewski</b></p>
		<p>Special thanks to <b>Alison&nbsp;Joanne&nbsp;Storey</b> for making it happen.</p>
		<p>Built with: 
				<a href="http://phonegap.com/">PhoneGap</a>,
				<a href="http://foundation.zurb.com/">Foundation</a>,
				<a href="http://angularjs.org/">AngularJS</a>
				and
				<a href="http://d3js.org/">D3</a>.
		</p>
		<p>Source on 
			<a href="https://github.com/T4All/EggJog">github</a>.
		</p>
		<p>Sponsored by 
			<a href="http://www.cisco.com">Cisco</a> 
			for 
			<a href="http://girlsinict.org/">Girls in ICT</a>.
		</p>
	</div>
</div>