<div class="row">
	<div class="panel">
		<p>Original idea by Thea&nbsp;Bradley and Caitlin&nbsp;Wilson.</p>
		<p>App created by Didier&nbsp;Colens and Wout&nbsp;Mertens.</p>
		<p>Original graphics by Florence&nbsp;Matuszewski</p>
		<p>Special thanks to Alison&nbsp;Joanne&nbsp;Storey for making it happen.</p>
		<p>Built with: 
				<a href="http://phonegap.com/">PhoneGap</a>,
				<a href="http://foundation.zurb.com/">Foundation</a>,
				<a href="http://angularjs.org/">AngularJS</a>
				and
				<a href="http://d3js.org/">D3</a>.
		</p>
		<p>Source on 
			<a href="https://github.com/T4All/EggJog">github</a>.
		</p>
		<p>Sponsored by 
			<a href="http://www.cisco.com">Cisco</a> 
			for 
			<a href="http://girlsinict.org/">Girls in ICT</a>.
		</p>
	</div>
</div>