<div class="row">
	<div class="panel">
		<p>Original idea by: Thea Bradley and Caitlin Wilson.</p>
		<p>App created by Didier Colens and Wout Mertens.</p>
		<p>Original graphics by Florence Matuszewski</p>
		<p>Special thanks to Alison Joanne Storey for making it happen.</p>
		<p>Built with: 
			<ul class="no-bullet">
				<li><a href="http://phonegap.com/">PhoneGap</a></li>
				<li><a href="http://foundation.zurb.com/">Foundation</a></li>
				<li><a href="http://angularjs.org/">AngularJS</a></li>
				<li><a href="http://d3js.org/">D3</a></li>
			</ul>
		</p>
		<p>Source on <a href="https://github.com/T4All/EggJog">github</a></p>
		<p>Sponsored by <a href="http://www.cisco.com">Cisco</a> for <a href="http://girlsinict.org/">Girls in ICT</a>.</p>
	</div>
</div>