<div class="row">    
  <div class="small-1 large-1 columns">
    <div class="switch tiny">
      <input id="x" name="switch-x" type="radio" ng-model="enabled" ng-value="0">
      <label for="x">Off</label>
      <input id="x1" name="switch-x" type="radio" ng-model="enabled" ng-value="1">
      <label for="x1">On</label>
      <span></span>
    </div>
  </div> 
  <div class="small-11 large-11 columns lineHeight">
    Step counter is <span ng-hide="running">not </span>running
  </div>
</div>
<div class="row">
  <div class="column small-10 small-centered large-centered">
    <center>
      <img src="http://farm9.staticflickr.com/8520/8487424258_e27c46f72f_z.jpg">
    </center>
  </div>
</div>

<div class="row space">
  <div class="columns progress small-6 small-centered secondary">
    <span class="meter" ng-style="{width: progress}"></span>
  </div>
</div>

