<div class="row">
	<div health class="right">health (%)</div>
	<div class="column small-10 small-centered large-centered">
		<a class="th radius" href="http://farm9.staticflickr.com/8520/8487424258_e27c46f72f_z.jpg">
			<img src="http://farm9.staticflickr.com/8520/8487424258_e27c46f72f_z.jpg">
		</a>
	</div>
</div>
<div class="row">
</div>
<div class="row">
	<div class="right">
		<div class="switch">
		  <input id="x" name="switch-x" type="radio" ng-model="enabled">
		  <label for="x">Off</label>

		  <input id="x1" name="switch-x" type="radio" ng-model="enabled">
		  <label for="x1">On</label>

		  <span></span>
		</div>
	</div>
	<div class="columns progress small-6 small-centered secondary">
		<span class="meter" ng-style="{width: progress}"></span>
	</div>
</div>